<h1>Discussion updates</h1>

<header>
  <a href="../backend-plan/">
    <h2>Future updates under Plan</h2>
  </a>
</header>

<header>
  <a href="./2018-06-12/">
    <h2>12 June 2018</h2>
    <ul>
      <li>Assignee lists</li>
      <li>Diff improvements</li>
      <li>OKR update</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2018-04-30/">
    <h2>30 April 2018</h2>
    <ul>
      <li>Hiring update</li>
      <li>Elasticsearch improvements</li>
      <li>Subgroups support</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2018-03-26/">
    <h2>26 March 2018</h2>
    <ul>
      <li>Meet the team!</li>
      <li>API improvements</li>
      <li>AJAX requests in performance bar</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2018-02-15/">
    <h2>15 February 2018</h2>
    <ul>
      <li>Roadmap view for epics</li>
      <li>Link to MR from commit</li>
      <li>Uploads to object storage</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2018-01-17/">
    <h2>17 January 2018</h2>
    <ul>
      <li>Reorder issues in epics</li>
      <li>Performance improvements</li>
      <li>Uploads to object storage</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-12-11/">
    <h2>11 December 2017</h2>
    <ul>
      <li>Commit comments in MRs</li>
      <li>Create MR from email</li>
      <li>Epics</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-11-13/">
    <h2>13 November 2017</h2>
    <ul>
      <li>Epics</li>
      <li>Commit comments in MRs</li>
      <li>Team changes</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-10-02/">
    <h2>2 October 2017</h2>
    <ul>
      <li>Group issue boards</li>
      <li>Image commenting</li>
      <li>Saved board config</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-08-28/">
    <h2>28 August 2017</h2>
    <ul>
      <li>Group issue boards</li>
      <li>Lock issue</li>
      <li>JIRA development panel</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-07-24/">
    <h2>24 July 2017</h2>
    <ul>
      <li>Related issues</li>
      <li>Slack app for GitLab.com</li>
      <li>Performance improvements</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-06-19/">
    <h2>19 June 2017</h2>
    <ul>
      <li>Conversational Development Index</li>
      <li>Snippet descriptions</li>
      <li>Elasticsearch improvements</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-05-10/">
    <h2>10 May 2017</h2>
    <ul>
      <li>Multiple assignees</li>
      <li>Slash commands preview</li>
      <li>Comments on personal snippets</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-04-10/">
    <h2>10 April 2017</h2>
    <ul>
      <li>Speed improvements</li>
      <li>Burndown charts</li>
      <li>Service Desk</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-03-06/">
    <h2>6 March 2017</h2>
    <ul>
      <li>Reorder issues in issue board</li>
      <li>Squash merge requests</li>
      <li>API v4</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-01-30/">
    <h2>30 January 2017</h2>
    <ul>
      <li>Two new team members!</li>
      <li>Unapprove merge requests</li>
      <li><code>/merge</code> slash command</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-01-02/">
    <h2>2 January 2017</h2>
    <ul>
      <li>Bitbucket importer</li>
      <li>Auto deploy</li>
      <li>Mathematics in Markdown</li>
    </ul>
  </a>
</header>
