.remark-slide-content img {
  width: 100%;
}

.remark-slide-content .w90 img {
  width: 90%;
}

.remark-slide-content .w80 img {
  width: 80%;
}

.remark-slide-content .w70 img {
  width: 70%;
}

.remark-slide-content .w60 img {
  width: 60%;
}

.remark-slide-content .w48 img {
  width: 48%;
}

.remark-slide-content a {
  color: black;
  text-decoration: underline;
}

.remark-slide-content a:hover {
  color: #555;
}

.remark-slide-content li {
  margin-bottom: 10px;
}

.remark-slide-content h1 {
  font: normal 5rem 'Yanone Kaffeesatz';
  margin-top: 0;
  margin-bottom: 1rem;
}

.remark-slide-content h2 {
  font: normal 3rem 'Yanone Kaffeesatz';
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.remark-slide-content blockquote p {
  font-family: 'Yanone Kaffeesatz';
  font-style: italic;
  margin-top: 0;
  margin-bottom: 1rem;
}

.remark-slide-content {
  font: 1.5rem Muli;
  padding-left: 4rem;
  padding-right: 4rem;
}

.remark-slide-number {
  font-size: 1rem;
}

.left {
  float: left;
  width: 60%;
  font-size: 1.5rem;
}

.right {
  float: right;
  width: 39%;
}

.right p {
  text-align: left;
}

li > ul {
  margin-top: 10px;
}

.footer {
  font-size: small;
}
