<!DOCTYPE html>
<html>
  <head>
    <title>Discussion - GitLab Group Conversations</title>
    <style type="text/css">
      @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(https://fonts.googleapis.com/css?family=Muli);
    </style>
    <link rel="stylesheet" href="<%= @config[:base_url] %>/index-style.css">
  </head>
  <body>
    <%= render '/sidebar.*' %>

    <div id="main">
      <%= yield %>
    </div>

    <%= render '/footer.*' %>
  </body>
</html>
